.container{
    margin: 200px 100px 0px 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}
.container-box{
    height: 350px;
    width: 250px;
    background-color: #ffffff;
    /* border: 1px solid rgb(163, 163, 163);*/
}
.box-img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    object-fit: cover;
}
.price{
    color: #a3a3a3;
    text-decoration: line-through;
    margin-left: 15px;
}
.sell-price{
    color: #81000b;
}
.container-box >p{
    margin: 5px 0px 0px 10px;
}
.container-box:hover{
    box-shadow: 0px 0px 15px 10px rgb(216, 216, 216);
    outline-offset: 0;
    outline: 1rem solid #8adce7;
}
.sell-button{
    width: 230px;
    height: 30px;
    text-align: center;
    margin:10px 0px 0px 10px;
    background-color: #2E818C;
    border-style: hidden;
    text-transform: uppercase;
}
.sell-button:hover{
    background-color: #8adce7;
}
@media screen and (max-width: 1024px) {
    .container{
        margin: 200px 0px 0px 30px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        width: 1024px;
    }
    .container-box{
        height: 300px;
        width: 200px;
        background-color: #ffffff;
        /* border: 1px solid rgb(163, 163, 163);*/
    }
    .box-img{
        width: 200px;
        height: 180px;
        overflow: hidden;
        object-fit: cover;
    }
    .sell-button{
        width: 180px;
        height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .container{
        margin: 100px 0px 0px 10px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
        width: 768px;
    }
    .container-box{
        height: 200px;
        width: 150px;
        background-color: #ffffff;
        font-size: 10px;
        /* border: 1px solid rgb(163, 163, 163);*/
    }
    .box-img{
        width: 116px;
        height: 120px;
        overflow: hidden;
        object-fit: cover;
    }
    .sell-button{
        width: 120px;
        height: 20px;
        font-size: 10px;
    }
}
@media screen and (max-width: 425px) {
    .container{
        margin: 100px 0px 0px 5px;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
        width: 510px;
    }
    .container-box{
        height: 200px;
        width: 150px;
        background-color: #ffffff;
        font-size: 10px;
        /* border: 1px solid rgb(163, 163, 163);*/
    }
    .box-img{
        width: 150px;
        height: 120px;
        overflow: hidden;
        object-fit: cover;
    }
    .sell-button{
        width: 120px;
        height: 20px;
        font-size: 10px;
    }

}
.products-preview{
    position: fixed;
    top:0;left:0;
    min-height: 100vh;
    width:100%;
    background: rgba(0,0,0,.1);
    display: none;
    align-items: center;
    justify-content: center;
}
.products-preview .preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background: white;
    position: relative;
    margin: 2rem;
    width: 20rem;

}
.products-preview .preview.active{
    display: inline-block;
}
.products-preview .preview .fa-times{
    position: absolute;
    top:1rem;right:0.5rem;
    cursor: pointer;
    color: #81000b;
    font-size: 2rem;

}
.products-preview .preview .fa-times:hover{
    transform: rotate(90deg);
}
.products-preview .preview h3{
    color: #444;
    padding: 1rem 0;
    font-size: 1.5rem;
}
.products-preview .preview .stars{
    padding: 1rem 0;
}
.products-preview .preview .stars i{
    font-size: 1.5rem;
    color: red;
}
.products-preview .preview .stars span {
    font-size: 1.5rem;
    color: red;
}
.products-preview .preview p{
    line-height: 1;
    padding: 1rem 0;
    font-size: 1.3rem;
    color: #777;

}
.products-preview .preview .prices{
    padding: 1rem 0;
    font-size: 1.2rem;
    color: #2E818C;
}
.products-preview .preview .buttons{
    display: flex;
    gap:2.1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.products-preview .preview .buttons a{
    flex: 1 1 5rem;
    padding: 0.5rem;
    font-size: 0.61rem;
    color: #444;
    border:  .1rem solid #444;

}
.products-preview .preview .buttons a.cart{
    background: #2E818C;
    color: white;
}

.products-preview .preview .buttons a.cart:hover{
    background: #333333;
}
.products-preview .preview .buttons a.buy:hover{
    background: #333333;
    color: white;
}


.container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:2rem;
}
.container .products-container .container-box{
    text-align: center;
    padding:1rem -1rem;
    background: #fff;
    box-shadow: 0 .9rem 5rem rgba(0,0,0,.1);
    outline: .0rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}
.container .products-container .container-box:hover{
    outline: .2rem solid #222;
    outline-offset: 0;
}
.container .products-container .container-box img{
    height: 15rem;
}
.container .products-container .product:hover img{
    transform: scale(.9);
}
.container .products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(6rem,1fr));
    gap:2rem;
}
