*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --back-color:#2E818C;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
.contain{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 100px;
}
#logo{
    width: 120px;
    height: 40px;
    margin-right: 50px;
}
#search{
    width: 250px;
    height: 35px;
    border-radius: 50px;
    outline: none;
    border-style: double;
    color: rgb(158, 158, 158);
    font-size: 18px;
}
header p{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 16px;
    transition: 1s;
}
header p:hover a{
    color: #2E818C;
}
.head-img{
    width: 40px;
    height: 40px;
    margin-left: 50px;
}
.header-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--back-color);
    height: 70px;
    padding-left: 40px;
}
.contain ul li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    margin-left: 30px;
    height: 70px;
}
.contain ul li:hover{
    background-color: aliceblue;
}
.contain ul li img{
    width: 40px;
    height: 40px;
}

footer{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    height: 130vh;
    border: 15px solid var(--back-color);
}
#footer_company{
    width: 300px;
    margin: 30px;
}
.footer_title{
    margin: 10px 0px;
}
#footer_company-title{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(146, 146, 146);
}
#footer_company-info{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}
#footer_company-info i{
    margin-bottom: 10px;
}
#footer_about{
    width: 300px;
    margin: 87px 0px 0px 40px;
}
#footer_about ul li{
    list-style: none;
    margin: 10px 0px;
}
#footer_suport{
    width: 300px;
    margin-top: 87px;
}
#footer_suport ul li{
    list-style: none;
    margin: 10px 0px;
}
#footer-care{
    width: 300px;
    margin-top: 87px;
}
#relate{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #888888;
    margin-bottom: 20px;
}
.headset-img{
    width: 100px;
    height: 100px;
}
#connect{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    margin: 20px 0px;
}
#connect i{
    margin:0px 20px;
}
.sticky{
    display: none;
}
.sticky1{
    height: 70px;
}
@media screen and (max-width: 1024px) {
    .contain{
        width: 1024px;
        font-size: 16px;
    }
    #logo{
        margin-right: 20px;
        margin-left: -20px;
    }
    #search{
        width: 200px;
    }
    header p{
        margin-left: 20px;
        font-size: 16px;
    }
    .head-img{
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    .header-list{
        padding-left: 40px;
    }
    .contain ul li{
        padding: 0px 20px;
        margin-left: 10px;
        font-size: 12px;
    }
    .contain ul li img{
        width: 30px;
        height: 30px;
    }
    footer{
        width: 1024px;
        font-size: 14px;
    }
}
@media screen and (max-width: 768px) {
    .contain{
        width: 768px;
        font-size: 10px;
    }
    header{
        height: 50px;
    }
    #logo{
        width: 90px;
        height: 30px;
        margin-right: 20px;
        margin-left: -30px;
    }
    #search{
        width: 150px;
        height: 25px;
        font-size: 12px;
    }
    header p{
        margin-left: 20px;
        font-size: 12px;
    }
    .head-img{
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    .header-list{
        padding-left: 20px;
        height: 40px;
    }
    .contain ul li{
        padding: 0px 20px;
        margin-left: 0px;
        font-size: 10px;
        height: 40px;
    }
    .contain ul li img{
        width: 20px;
        height: 20px;
    }
    footer{
        width: 768px;
        font-size: 12px;
    }
    #footer_company{
        width: 200px;
        margin: 20px;
    }
    .logo-footer{
        width: 120px;
        height: 40px;
    }
    .footer_title{
        margin: 5px 0px;
    }
    #footer_company-info{
        margin: 10px 0px;
    }
    #footer_about{
        width: 200px;
        margin: 43px 0px 0px 40px;
    }
    #footer_suport{
        width: 200px;
        margin: 43px 0px 0px 40px;
    }

    #footer-care{
        width: 100px;
        margin: 43px 20px 0px 40px;
    }
    .headset-img{
        width: 50px;
        height: 50px;
    }
    #connect{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 18px;
        margin: 10px 0px;
    }
    #connect i{
        margin:0px 5px;
    }
    .goverment-img{
        width: 100px;
        height: 40px;
    }
}
@media screen and (max-width: 425px) {
    .contain{
        width: 510px;
        font-size: 12px;
    }
    #logo{
        margin-right: 5px;
    }
    #search{
        width: 80px;
        height: 20px;
        font-size: 8px;
    }
    header p{
        margin-left: 5px;
        font-size: 10px;
    }
    .head-img{
        width: 20px;
        height: 20px;
        margin-left: 20px;
    }
    .header-list{
        padding-left: 5px;
    }
    .contain ul li{
        padding: 0px 10px;
        margin-left: 10px;
        font-size: 10px;
    }
    .contain ul li img{
        width: 20px;
        height: 20px;
    }
    footer{
        width: 510px;
        font-size: 10px;
    }
    #footer_company{
        width: 100px;
        margin: 10px;
    }
    .logo-footer{
        width: 90px;
        height: 30px;
    }
    .footer_title{
        margin: 5px 0px;
    }
    #footer_company-info{
        margin: 10px 0px;
    }
    #footer_about{
        width: 100px;
        margin: 43px 0px 0px 30px;
    }
    #footer_suport{
        width: 100px;
        margin: 43px 0px 0px 30px;
    }

    #footer-care{
        width: 100px;
        margin: 43px 0px 0px 30px;
    }
    .headset-img{
        width: 50px;
        height: 50px;
    }
    #connect{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        margin: 10px 0px;
    }
    #connect i{
        margin:0px 5px;
    }
    .goverment-img{
        width: 100px;
        height: 40px;
    }
}


#HNcoffee {
    width: 100%;
    padding: 20px;
}

#dailynews {
    background-color: white;
    width: 100%;
    height: 140px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 20px 0px 0px;


}
.col {
    background-color: rgb(89,150,163);
    border: 1px solid rgb(131,131,131);
}

p , section header {
    background-color: #ffffff;

}
.title {
    height: 57%;
}

#author {
    font-size: 18px;
}

img {
    margin-bottom: 10px;
}

section .quicknews {
    background: #ffffff;
}
.quicknews a{
    color: black;
    text-decoration: none;
    background-color: transparent;
}
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
.quicknews span {
    font-size: 22px;
    font-weight: 500;
}